<!-- <p>PassbookManagement works</p> -->

<!-- <nav class="navbar navbar-nav navbar-expand-md navbar-custom center">
    <div class="container">
      <a class="navbar-brand" href="">
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item item">
          <a class="nav-link" class="btn btn-outline-light  btn-sm " routerLink="updatePassbook">Update Passbook</a>
        </li> &nbsp;&nbsp;
        <li class="nav-item item">
          <a> </a>
        </li>
        <li class="nav-item item">
          <a class="nav-link" class="btn btn-outline-light btn-sm" routerLink="acocuntSummary">Account Summary</a>
        </li>
      </ul>
    </div>
  </nav> -->

<div class="card">  
    <div class="card-header">  
        <h1 style="text-align: center">Passbook Management</h1><br>  
       
      </div>  
    
      
    <div class="card-body">  
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="updatePassbook()">Update Passbook</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="accountSummary()">Account Summary</button>
    </div>  
  </div> 