<div class="card">  
    <div class="card-header">  
        <h1 style="text-align: center">Account Management</h1><br>  
       
      </div>  
    
      
    <div class="card-body">  
          <div>
          <button type="button" class="btn btn-primary btn-lg btn-block"  routerLink="/addAccount">Add An Account</button><br>
          <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/searchAccount">Search Account</button><br>
          <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/deleteAccount">Delete An Account</button><br>
          <button type="button" class="btn btn-secondary btn-lg btn-block" routerLink="/updateAccount">Update An Account</button>
    </div>  
  </div>